.wru{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-family: 'Roboto';
}
.pl :hover {
 color: brown;
 cursor: pointer;
}
.wru-para{
    background: #250925;
    color: white;
    border-radius: 7px;
    width: auto;
}